{
  "rules": {
    "no-undef": 0,
    "no-console": 0,
    "indent": ["error", 2],
    "space-before-function-paren": ["error", "always"],
    "quotes": ["error", "single"]
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
