# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json